<%- include('../partials/headerPdg'); -%>
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-4">
            <h6 id="titleReserv" class="m-0 font-weight-bold text-primary">Promos</h6>
        </div>
        <div class="card-body">

            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>Center</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Statut</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>

            </table>
        </div>
    </div>


    <%- include('../partials/footer'); -%>